tests/ProtobufToXsdTests.FieldsConverting_XsdAttributes_CheckContent.approved.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msxsl="urn:schemas-microsoft-com:xslt">
  <!--Generated from: protobuf-fields.proto-->
  <!--Namespace: Some.Namespace-->
  <xs:complexType name="Some.Namespace.RootElement">
    <xs:all>
      <xs:element name="ComplexRequired" type="Some.Namespace.ChildElement" />
      <xs:element name="ComplexOptional" type="Some.Namespace.ChildElement" minOccurs="0" />
      <xs:element name="ComplexRepeateds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ComplexRepeated" type="Some.Namespace.ChildElement" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SimpleRepeateds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SimpleRepeated" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EnumeratedRepeateds">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EnumeratedRepeated" type="Some.Namespace.EnumerationElement" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="SimpleRequired" use="required" type="xs:string" />
    <xs:attribute name="SimpleRequiredWithDefault" use="required" default="SimpleRequiredDefaultValue" type="xs:string" />
    <xs:attribute name="EnumeratedRequired" use="required" type="Some.Namespace.EnumerationElement" />
    <xs:attribute name="EnumeratedRequiredWithDefault" use="required" type="Some.Namespace.EnumerationElement" />
    <xs:attribute name="SimpleOptional" use="optional" type="xs:string" />
    <xs:attribute name="SimpleOptionalWithDefault" use="optional" default="SimpleOptionalDefaultValue" type="xs:string" />
    <xs:attribute name="EnumeratedOptional" use="optional" type="Some.Namespace.EnumerationElement" />
    <xs:attribute name="EnumeratedOptionalWithDefault" use="optional" type="Some.Namespace.EnumerationElement" />
  </xs:complexType>
  <xs:complexType name="Some.Namespace.ChildElement">
    <xs:all />
    <xs:attribute name="ChildValue" use="required" type="xs:string" />
  </xs:complexType>
  <xs:simpleType name="Some.Namespace.EnumerationElement">
    <xs:restriction base="xs:string">
      <!--FirstValue:-->
      <xs:enumeration value="1" />
      <!--SecondValue:-->
      <xs:enumeration value="2" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>